# Wails
frontend/wailsjs
build/bin

# frontend sht
frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/
frontend/.vite/

# ide sht
.idea/
.vscode/
*.swp
*.swo

# ide sht
.DS_Store
Thumbs.db

# tmp sht
*.log
*.tmp
*.temp

# Nix
.direnv/
result/

# other tmp sht
.cache/
.tmp/
logs/

*.old
